body {
    margin: 0px;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f4f5f5;
}

.bullets {
    padding-bottom: 3px;
    padding-left: 45px;
}

.column {
    float: left;
    width: 100%;
    padding-left: 8%;
    padding-top: 20px;
    justify-content: center;
    margin-bottom: 10px;
}

.header_display {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-left: 10%;
}

.prof_img {
    border-radius: 50%;
    display: flex;
    flex: 0 0 250px;
    height: 250px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 250px;  
}

.subheader {
    display: inline-flex;
    margin-left: -10%;
    align-items: left;
    font-size: 25px;
    font-family: Lato;
    margin-bottom: 0;
    margin: 10px;
    text-decoration: underline;
}

.sub-info {
    text-align: left;
    padding-left: 0%;
}

.title {
    font-weight: bold;
    font-size: 75px;
    margin-bottom: 0;
}

.subtitle {
    font-weight:lighter;
    font-size: 30px;
    padding-bottom: 20px;
    color: #3A927F;

}

.header {
    display: flex;
    justify-content: Left;
    margin-top: 1%;
    margin-bottom: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}      

/*Navigation CSS*/
.nav {
    display: flex;
    position: sticky;
    overflow: visible;
    z-index: 9000;
    top: 0;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    stroke: black;
    stroke-width: 2px;
    padding-left: 1%;
    filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.35));
    background-color: #303633;
    gap: 5px;
}


.nav_options {
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    color: #dfe2e0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-variant: small-caps;
    font-size: 25px;
    text-decoration: none;

}

.nav_options:Hover {
    color: #ffffff;
}

.logo {
    padding-top: 5px;
    max-width: 12%;
    max-height: 12%;
}

.selected {
    padding-left: 20px;
    display: block;
    padding-right: 20px;
    padding-bottom: 14px;
    padding-top: 15px;
    border-bottom: 5px solid white;
    margin-bottom: -5px;
    color: #ffffff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-variant: small-caps;
    font-size: 25px;
    text-decoration: none;
}

/*timeline*/
dl {
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    grid-template-rows: auto auto;
} 

.article {
    padding: .25rem .5rem 0 .9rem;
    background: #262b29;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.cell {
    grid-column: span 2;
    display: flex;
    padding: 0 2rem;
}

.cell:nth-child(2) {
    grid-column: span 3;
    justify-content: flex-end;
}

.cell_content {
    display: inline-flex;
    flex-direction: column;
    border-left: 2px dashed #a6a7b5;
    position: relative;
    background: #262b29;
}

.cell_content:after {
    content: '';
    display: block;
    background: #a6a7b5;
    height: .5rem;
    width: .5rem;
    position: absolute;
    left: -.25rem;
    border-radius: 50%;
    bottom: -.25rem;
}

.info {
    background: #262b29;
    margin: 0;
    position: relative;
    left: -.25rem;
    color: #f4f4f6;
}

.odd {
    padding-bottom: 3rem;
    border-bottom: 1px solid #a6a7b5;
}

.even {
    padding-top: 3rem;
    position: relative;
    top: -1px;
    border-top: 1px solid #a6a7b5;
}

.even::after {
    top: -.1rem;
}

.dEven {
    padding-top: .5rem;
}

.iEven {
    flex-grow: 1;
}

.iLast {
    padding-bottom: .5rem;
}

.odd::after {
    bottom: -.25rem;
}

.evenL {
    border-top-color: transparent;
    border-bottom-color: transparent;
}

/*media */

.social_media {
    justify-content: right;
    padding-left: 48%;
    width: 11%;
    color: white;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
}

.border {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    border: 2px solid white;
    background-color: white 50%;
}

.img {
    width: 53%;
    height: 50%;
    display: inline-flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
}

.twitter:hover {
   background-color: #1da1f2;
}

.insta:hover {
    background-color: #c13584;
}

.linkedin:hover {
    background-color: #0e76a8;
}

.facebook:hover {
    background-color: #3b5998;
}